@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.btn{
    font-size: 14px;
    margin-top: 20px;
    width: 95px;
    height: 26px;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    margin-right: 5px;
}