.headTitle{
    margin: 0 auto 10px;
    padding: 0;
    width: 189.9px;
    color: #BCBCBC;
    h2{
        text-transform: uppercase;
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 25px;
    }
}

.timerText{
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    padding-top: 6px;
}


.firstBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #BCBCBC;
    margin-bottom: 43px;
    div{
         width: 30.3%;
    }
    p{
         font-size: 12px;
    }
    input{
        width: 30px;
        background-color: #EFEFEF;
        border: none;
        border-radius: 6px;
        padding: 10px 10px 14px 8px;
        font-weight: bold;
    }
}

.secondBlock{
    display: flex;
    justify-content: space-between;
    p{
        display: inline-block;
        width: 195px;
        font-weight: bold;
    }
    input{
        margin-top: 10px;
        display: inline-block;
        width: 30px;
        padding: 10px 10px 14px 8px;
        background-color: #EFEFEF;
        border: none;
        border-radius: 6px;
        font-weight: bold;
    }
}

.okBlock{
  margin:0 410px;
  width: 69px;
  height: 49px;
  background-color: #373737;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  border-radius: 6px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }