@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.container{
    width: 640px;
    margin: 0 auto;
    padding: 15 0;
    font-family: 'Montserrat', sans-serif;
}
.pomodoro{
    margin: -10px;
    background-color: #DB524D;
    padding-bottom: 187px;
}
.short-break{
    margin: -10px;
    background-color: #468E91;
    padding-bottom: 187px;
}

.long-break{
    margin: -10px;
    background-color: #437EA8;
    padding-bottom: 187px;
}